<currently-reviewing>
  <h1>Interesting Companies</h1>
  
  <p>Two companies have recently caught my attention which I am currently performing a trial investment in. Mining City, a cloud mining company, and BitOffer, which is a crypto trading platform.</p>

  <p>Mining City mines Bitcoin (BTC) and Bitcoin Vault (BTCV) and has various plans which earn a monthly commission based on the hash rate of transactions performed for the currency of your choice. Returns are estimated around 20% per month.</p>

	<p>BitOffer is a crypto trading company that offers possible returns around 1-30% per month based on your risk appetite.</p>
</currently-reviewing>