<currently-reviewing>
  <h1>Interesting Companies</h1>
  
  <p>Two companies have recently caught my attention. Mystery Company 1, is a cloud mining company, and Mystey Company 2 is a crypto trading platform. Both offer good returns and I'm performing a trial investment in both and will report my findings once I have sufficient data.</p>

  <p>Mystery Company 1 mines Bitcoin (BTC) and Bitcoin Vault (BTCV) and has various plans which earn a monthly commission based on the hash rate of transactions performed for the currency of your choice. Returns are estimated around 20% per month but may vary based on the demand of the chosen currency.</p>

	<p>Mystery Company 2 is a crypto trading company that offers enticing returns around 1-30+% per month based on your risk appetite.</p>
</currently-reviewing>